<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Coin Data</title>
    </head>
    <body>
        <h1>Coin Data</h1>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Current Price (USD)</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="coinData : ${coinDataList}">
              <td th:text="${coinData.id}"></td>
              <td><img th:src="${coinData.image}" alt="Coin Image" height="50"></td>
              <td th:text="${coinData.current_price}"></td>
            </tr>
          </tbody>
        </table>
    </body>
</html>