<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Coin Data</title>
    </head>
    <body>
        <h1>Coin Data from External API</h1>
        <div class="form-group">
            <label for="coinFilter">Filter by ID:</label>
            <input type="text" class="form-control" id="coinFilter" placeholder="Enter Coin ID">
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Current Price (USD)</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="coinData : ${coinDataList}">
              <td th:text="${coinData.id}"></td>
              <td><img th:src="${coinData.image}" alt="Coin Image" height="50"></td>
              <td th:text="${coinData.current_price}"></td>
            </tr>
          </tbody>
        </table>
        <script>
            document.addEventListener('DOMContentLoaded',function() {
                var coinFilter = document.getElementbyId('coinFilter');
                var coinRows = document.querySelectorAll('.coinRow');

                coinFilter.addEventListener('input', function() {
                    var filter = coinFilter.value.toUpperCase();

                    coinRows.forEach(function (row) {
                        var coinId = row.querySelector('td:nth-child(2)').textContent.toUpperCase();

                        if (coinId.indexOf(filter) > -1) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        </script>
    </body>
</html>